.btn {
  padding: 0.75em 1em;
  border-radius: 8px;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 3px;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn svg {
  margin-right: 0.5em;
  margin-bottom: 1px;
  fill: initial;
}

.grey { background-color: rgb(150, 150, 150); }
.blue { background-color: rgb(60, 78, 245); }
.green { background-color: rgb(46, 212, 46); }

.basic {
  background-color: var(--btn-color);
  color: var(--text-color);
  box-shadow: 3px 3px black;
}

.secondary {
  color: var(--text-color);
  background-color: var(--secondary-bg-color);
  border: none;
  box-shadow: none;
  outline: none;
}

.secondary:hover {
  border: 1px solid black;
  box-shadow: 3px 3px black;
  filter: brightness(1.2);
  outline: none;
}
