.comment {
  width: 100%;
  margin-bottom: 1em;
}
.comment p {
  margin: 0;
  margin-top: 0.2em;
}
.comment h4 {
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
}
.row div {
  cursor: pointer;
}