.dropdown {
  border-radius: 6px;
  background-color: var(--dropdown-bg-color);
  padding: 1em 0;
  color: var(--dropdown-text-color);
  font-size: 0.9rem;
  line-height: initial;
  z-index: 30;
}

.wrapper {
  position: absolute;
  z-index: 30;
  overflow: hidden;
  width: 180px;
}