.btn {
  background-color: inherit;
  border: none !important;
  border-radius: 50%;
  cursor: pointer;
  line-height: 0;
  padding: 0.3em;
}

.edit svg {
  fill: rgb(60, 78, 245);
}
.delete svg {
  fill: rgb(235, 23, 23);
}
.selected svg {
  fill: rgb(46, 212, 46);
}