.clickable {
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.center {
  align-items: center;
}

.list div {
  background-color: inherit;
  width: 100%;
}

.item {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}