.btn {
  padding: 0.4em;
  cursor: pointer;
  line-height: 0;
  background-color: rgb(46, 212, 46);
  border-radius: 50%;
  outline: none;
  border: none;
}

.btn svg {
  height: 24px;
  width: 24px;
  fill: black;
}

.btn :hover {
  filter: brightness(1.2);
}